name: Send Webhook on Main Updates

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Déclencher le déploiment coolify
        run: curl --location 'https://coolify.67gigs.codes/api/v1/deploy?uuid=mskogwwcs00ogcwsc488kgow&force=false'
